<section class="flexcol">
    <div class="note info">
        {{ localize (ifThen isGroup "SHMN.REST.Long.Hint.Group" "SHMN.REST.Long.Hint.Normal") }}
    </div>

    {{#if fields.length}}
    <fieldset>
        <legend>{{ localize "SHMN.REST.Configuration" }}</legend>
        {{> "shmn.fieldlist" fields }}
    </fieldset>
    {{/if}}

    {{#if hitPoints.length}}
    <fieldset>
        <legend>{{ localize "SHMN.HitPoints" }}</legend>
        {{> "shmn.fieldlist" hitPoints }}
    </fieldset>
    {{/if}}

    {{#if request}}
    {{> "systems/shmn/templates/actors/rest/rest-request.hbs" }}
    {{/if}}
</section>
