{{!-- Range --}}
<div class="form-group split-group">
    <label>{{ localize "SHMN.Range" }}</label>
    <div class="form-fields">

        {{!-- Value --}}
        {{#if range.scalar}}
        {{ formField fields.value value=data.value label="SHMN.Value" localize=true hint=false classes="label-top"
                     rootId=partId }}
        {{/if}}

        {{!-- Units --}}
        {{ formField fields.units value=data.units label="SHMN.Unit" localize=true hint=false localize=true
                     options=rangeTypes classes="label-top" rootId=partId }}
    </div>

    {{!-- Condition --}}
    {{ formInput fields.special value=data.special input=inputs.createTextInput localize=true classes="full-width"
                 placeholder=(localize "SHMN.RANGE.FIELDS.range.special.label") rootId=partId }}
</div>
