<fieldset>
    <legend>
        <span>{{ localize "SHMN.ATTACK.FIELDS.damage.label" }}</span>
        <button type="button" class="unbutton control-button" data-action="addDamagePart"
                data-tooltip aria-label="{{ localize "SHMN.DAMAGE.Part.Action.Create" }}">
            <i class="fas fa-plus" inert></i>
        </button>
    </legend>
    {{#if (or hasBaseDamage activity.isRider)}}
    {{ formField fields.damage.fields.includeBase value=source.damage.includeBase input=inputs.createCheckboxInput
                 rootId=partId }}
    {{/if}}
    {{ formField fields.damage.fields.critical.fields.bonus value=source.damage.critical.bonus rootId=partId }}
    {{> "systems/shmn/templates/activity/parts/damage-parts.hbs" }}
</fieldset>
