<div>
    {{> ".actor" actor=hostActor class="host" }}
    <shmn-icon src="systems/shmn/icons/svg/range-connector.svg"></shmn-icon>
    {{> ".actor" actor=sourceActor class="source" }}
</div>

{{#*inline ".actor"}}
<div class="{{ class }}">
    <img src="{{ actor.artwork }}" alt="{{ actor.name }}">
    <span class="name">{{ actor.name }}</span>
</div>
{{/inline}}
